
{% include 'navbar.html' %}
<section>
    <h1>About</h1>
    <p>Caregiving is not easy. In fact, some say it’s one of the hardest things you can do.</p>
    <p>Caring for a loved one who means a lot to you and watching them struggle with challenges, while you overextend yourself happens way too often.</p>
    <p>Worst of all, it can be impossible to get the kind of help you need, the way things are these days.</p>
    <p>The CareGiver Companion app is here to help.</p>
    <h2>You can get:</h2>
    <ul>
      <li>Confidential feedback</li>
      <li>Privacy to vent anonymously</li>
      <li>Links to caregiving resources</li>
      <li>Links to social support groups</li>
      <li>Online coaching to help you anonymously work through issues</li>
    </ul>
  </section>
  {% include 'footer.html' %}